<div class="container">
  <div class="col-xs-8">
  <div class="well">
    <% @books.each do |book| %>
    <div class="media">
      <div class="media-left media-middle">
        <%= link_to book_path(id: book.id) do %>
        <img class="media-object" src="<%= book.photo_url %>">
        <% end %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
        <%= link_to book.title, book_path(id: book.id) %></h4><br>
        <small>Price:</small>
        <%= "$#{book.price}" %><br>
        by <%= link_to book.author.full_name, author_path(id: book.author_id) %>
      </div>
    </div>
    <% end %><br>
  </div>
  </div>
  <div class="fixed">
  <%= link_to 'Add New Book', new_book_path, class:"btn btn-primary" %>
  <%= link_to 'Add New Author', new_author_path, class:"btn btn-primary" %>
</div>
</div>
